<h1>Collaborators#index</h1>
<p>Find me in app/views/wiki/index.html.erb</p>

<%= form_for [@wiki, @new_collaborator] do |f| %>
  <%= f.select(:user_id, options_for_select(@non_collab_users.all.map { |u| [ u.email, u.id] }) ) %>
  <%= f.submit %>
<% end %>

<h3>Existing Collaborators</h3>
<ol>
  <% @collaborators.each do |c| %>
    <li><%= c.user.email %></li>
    <span><%= link_to "Delete Collaborator", wiki_collaborator_path(@wiki, c), method: :delete %></span>
  <% end %>
</ol>
